/* landing-page.component.scss */

.landin_page_img {
  background-image: url('../../content/images/desktop_compact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.landing_page_content {
  top: 15%;
}
