/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: block;
  height: 200px;
  width: 200px;
  background: url('../../content/images/innoq-logo-square--bluered.png') no-repeat left top;
  background-size: contain;
  border: none;
  border-style: none;
}

@media screen and (max-width: 600px) {
  .welcome-text {
    font-size: 2rem;
  }
  .hipster {
    display: block;
    height: 100px;
    width: 100px;
    background: url('../../content/images/innoq-logo-square--bluered.png') no-repeat left top;
    background-size: contain;
  }
}
