<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">Data Table</h1>
    <h5 class="text-center" jhiTranslate="page-one.subtitle">Subtitle</h5>
    <hr/>
      <div class="card">

        <p-table [columns]="cols" #dt [value]="brands" dataKey="id" editMode="row" styleClass="p-datatable-sm p-datatable-striped"
                 [scrollable]="true" scrollHeight="40vh"
                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
                 [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [filterDelay]="0"
                 sortMode="multiple">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    List of Brands
                    <span class="p-input-icon-left">
                    <i class="pi pi-search left"></i>
                        <input type="text"  pInputText size="50" placeholder="Global Filter"  (input)="dt.filterGlobal($any($event.target).value, 'contains')"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns >
              <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" id="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
              </tr>
          </ng-template>
            <ng-template pTemplate="body" let-brand let-editing="editing" let-ri="rowIndex" let-rowData let-columns="columns">
              <tr [pEditableRow]="brand">
                  <td *ngFor="let col of columns" pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <label>
                                  <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                              </label>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{rowData[col.field]}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(brand)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(brand)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(brand, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{brands ? brands.length : 0 }} brands.
                </div>
            </ng-template>
        </p-table>
      </div>
      <p-toast></p-toast>
  </div>
  <div class="col-md-1"></div>
</div>
