/* ==========================================================================
Navbar
========================================================================== */

.navbar-version,
.navbar-brand {
  color: #24244c;
  font-size: 1em;
}

.navbar-version {
  font-size: 0.65em;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
    .dropdown-item:hover {
      color: #ff4d67;
    }
  }

  a.nav-link {
    font-weight: 400;
    color: #24244c;
    :hover {
      color: #ff4d67;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 90px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/innoq-logo-square--whitered.svg') no-repeat center center;
  background-size: contain;
  margin-top: -15px;
  margin-bottom: -15px;
}
