<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center" jhiTranslate="page-two.title">Title</h1>
    <h5 class="text-center" jhiTranslate="page-two.subtitle">Subtitle</h5>
    <hr/>
      <p-table [columns]="cols" [value]="brands" styleClass="p-datatable-responsive-demo" [scrollable]="true" scrollHeight="200px">
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns">
                      {{col.header}}
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                  <td *ngFor="let col of columns">
                      <span class="p-column-title">{{col.header}}</span>
                      {{rowData[col.field]}}
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
  <div class="col-md-1"></div>
</div>
